@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;600;700&display=swap");
:root {
    --green :   #56c23e;
}
// loading
#loading,
#loader {
    position: fixed;
    z-index: 999999;
}

#loader{
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.lds-ring {
    top: 50vh;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--green);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--green) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// body shit 
h2 {
	font-family: "Inter", sans-serif;
}

.preselection,
::-moz-selection,
::selection {
    color: white;
    background: var(--green);
}
.greencolor {
    color: var(--green);
    border-color: var(--green)!important;
}
p,nav,h5,h3,.h3 {
	font-family: "Dm Sans", sans-serif;
}
.bi-circle-fill {
    color: var(--green);
    font-size: 8px;
}
#changetext:before {
            content: ' ';
            animation-name: head;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
    
        @keyframes head {
            0%,9%,100% {
                content: 'Innovative';
                opacity: 1;
            }
    
            16%,25% {
                opacity: 0;
                
            }
    
            32%,41% {
                content: "Creative";
                opacity: 1;
            }
    
            48%,57% {
                opacity: 0;
            }
    
            64%,73% {
                content: "Technical";
                opacity: 1;
            }
    
            80%,89% {
                opacity: 0;
            }
        }

.homepage {
    // background-image: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.80) 60%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, .2) 100%), url(../media/sjcet.jpg);
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.70) 70%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, .2) 100%), url(../media/sjcet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;   
}
// @media (max-width:768px){
//     .homepage {
//             background-image: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.70) 70%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, .2) 100%), url(../media/sjcet.jpg);
//     }
// }

.bigdot>div,
.nav-item>a {
    line-height: .4em;
    background-image: linear-gradient(to right, var(--green) 0, var(--green) 100%);
    background-position: 0 1em 1em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background .5s;
    &:hover,
    &:active,
    &:focus
    {
        background-size: 100% 100%;
    }
    
}
.bigdot>div{
    background-size: 100% 100%;
}
html {
    scroll-behavior: smooth;
}

// history
.the-past {
    * {
        box-sizing: border-box;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline {
        position: relative;
        margin: 0 auto;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background: var(--green);
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    /* Container around content */
    .conbox {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }

    /* The circles on the timeline */
    .conbox::after {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        right: -9px;
        background: var(--green);
        top: 18px;
        border-radius: 50%;
        z-index: 10;
    }

    /* Place the container to the left */
    .left {
        left: 0;
    }

    /* Place the container to the right */
    .right {
        left: 50%;
    }

    /* Add arrows to the left container (pointing right) */
    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
    }

    /* Add arrows to the right container (pointing left) */
    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Fix the circle for containers on the right side */
    .right::after {
        left: -9px;
    }

    /* The actual content */
    .content {
        background-color: white;
        position: relative;
    }

    /* Media queries - Responsive timeline on screens less than 600px wide */
    @media screen and (max-width: 600px) {

        /* Place the timelime to the left */
        .timeline::after {
            left: 31px;
        }

        /* Full-width containers */
        .conbox {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }

        /* Make sure that all arrows are pointing leftwards */
        .conbox::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }

        /* Make sure all circles are at the same spot */
        .left::after,
        .right::after {
            left: 22px;
        }

        /* Make all right containers behave like the left ones */
        .right {
            left: 0%;
        }
    }
}

// the form page 
.form-field {
    height: 46px;
    border:none;
    border-left: 3px solid var(--green);
    padding: 0 16px;
    color: white;
    outline: 0;
    background: rgba(48, 48, 48, 0.536);
    transition: 0.2s;
}
textarea {
        resize: none;
}
.form-field:hover,
.form-field:focus {
    background:rgba(48, 48, 48, 1);
}
// team card

.team-lead{
    position: relative;
    overflow: hidden;
    &>span{
        background-color: var(--green);
            height: 80px;
            left: -50px;
            position: absolute;
            z-index: 2;
            top: -50px;
            width: 80px;
            -webkit-transform: rotate(-45deg);
    }
    // &>:nth-child(3) {
    //       border-bottom:3px solid var(--green) !important ;
    // }
}
.card {
position: relative;
    overflow: hidden;
}
.card-body {
    position: relative;
    &>.card-text{
            z-index: 2;
    }
}

.card-img-overlay {
    background: rgba(0, 0, 0, 0);
    transition: 0.3s;
    &>a{
        margin: auto;
        color: white;
        visibility: hidden;
        font-size: 0px;
        transition: 0.3s;
    }
}

.card:hover>.card-img-overlay{
    // color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, .3);
    &>a {
            visibility: visible;
            color: white;
            font-size: 25px;
        }
}