@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;600;700&display=swap");
:root {
    --green :   #56c23e;
}
h2 {
	font-family: "Inter", sans-serif;
}

.preselection,
::-moz-selection,
::selection {
    color: white;
    background: var(--green);
}
.greencolor {
    color: var(--green);
    border-color: var(--green)!important;
}
p,nav,h5,h3,.h3 {
	font-family: "Dm Sans", sans-serif;
}
.bi-circle-fill {
    color: var(--green);
    font-size: 8px;
}
#changetext:before {
            content: ' ';
            animation-name: head;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
    
        @keyframes head {
            0%,9%,100% {
                content: 'Innovative';
                opacity: 1;
            }
    
            16%,25% {
                opacity: 0;
                
            }
    
            32%,41% {
                content: "Creative";
                opacity: 1;
            }
    
            48%,57% {
                opacity: 0;
            }
    
            64%,73% {
                content: "Technical";
                opacity: 1;
            }
    
            80%,89% {
                opacity: 0;
            }
        }

.homepage {
    // background-image: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.80) 60%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, .2) 100%), url(../media/sjcet.jpg);
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.70) 70%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, .2) 100%), url(../media/sjcet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;   
}
// @media (max-width:768px){
//     .homepage {
//             background-image: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.70) 70%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, .2) 100%), url(../media/sjcet.jpg);
//     }
// }

.bigdot>div,
.nav-item>a {
    line-height: .4em;
    background-image: linear-gradient(to right, var(--green) 0, var(--green) 100%);
    background-position: 0 1em 1em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background .5s;
    &:hover,
    &:active,
    &:focus
    {
        background-size: 100% 100%;
    }
    
}
.bigdot>div{
    background-size: 100% 100%;
}
html {
    scroll-behavior: smooth;
}