@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;600;700&display=swap");

h2 {
	font-family: "Inter", sans-serif;
}
nav,h5 {
	font-family: "Dm Sans", sans-serif;
}
.flex-fill {
	flex: 1;
}

.homepage {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.70) 60%, rgba(0, 0, 0, 0.393) 80%, rgba(0, 0, 0, 0) 100%), url(../media/sjcet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    
}

.nav-item {
    text-decoration: none;
    transition-delay: 5s;
    :hover,:active,:focus {
        text-decoration: underline;
        text-decoration-thickness: 2.5px;
        text-decoration-color: #65e548;
        text-underline-offset: 7px;
        
    }
}

