@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;600;700&display=swap");

:root {
    --green: #56c23e;
}
.greencolor {
    color: var(--green);
    border-color: var(--green) !important;
}
h2,.h2 {
    font-family: "Inter", sans-serif;
}
p,nav,h5,h3,.h3 {
    font-family: "Dm Sans", sans-serif;
}
html {
    scroll-behavior: smooth;
}
.preselection,
::-moz-selection,
::selection {
    color: white;
    background: var(--green);
}
.form-field {
    height: 46px;
    border: none;
    border-left: 3px solid var(--green);
    padding: 0 16px;
    color: white;
    outline: 0;
    background: rgba(48, 48, 48, 0.536);
    transition: 0.2s;

    &:hover,
    &:focus{
        color: white;
        background: rgba(48, 48, 48, 1);
    }
}

.mybtn {
    background-color: white;
    color: black;
    font-family: "Dm Sans", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    // border-radius: 30px;
    // border: 2px solid black;
}

